/* tripdetails.css */

/* General styles for the events list */
.events-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    
}

.event-item {
    margin-bottom: 20px;
}
 .description,h3{
    color: #3e5a6c;
 }
/* Style for each event box */
.event-box {
    background-color: #9dbbae; /* Green background */
    border-radius: 15px; /* Rounded edges */
    padding: 20px; /* Padding inside the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for better visibility */
    width: 100%; /* Full width inside container */
    max-width: 600px; /* Maximum width of the event box */
    margin: 0 auto; /* Center the event box */
}

.event-actions {
    margin-top: 10px;
}

.edit-button, .delete-button {
    margin-right: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.25s;
}

.edit-button {
    background-color: #6c93a9;
    color: #fff;
}

.edit-button:hover {
    background-color: #506f83;
}

.delete-button {
    background-color: #9d525e;
    color: #fff;
}

.delete-button:hover {
    background-color: #993a4a;
}

.button-section{
    margin-bottom: 2rem;
    
}
.create-event-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #6c93a9;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.25s;
}

.create-event-button:hover {
    background-color: #646cff;
}

/* Centering the page container on the page */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}
.no-event{
    text-align: center;
    font-size: 1.5rem;
    color: #6c93a9;
    margin-top: 2rem;
}

/* Mobile-specific styles */
/* @media (max-width: 500px) {
    .event-box {
        padding: 15px; 
        width: 90%; 
    }

    .create-event-button, .edit-button, .delete-button {
        padding: 0.5em 1em; 
    }
    .events-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: 4rem;
        margin-left: 4rem;
        margin-right: 4rem;
        
    }
}


@media (max-width: 320px) {
    .event-box {
        padding: 15px; 
        margin: 30px; 
        width: 90%; 
    }

    .create-event-button, .edit-button, .delete-button {
        padding: 0.5em 1em; 
    }
} */

.date-box {
    background-color: #9dbbae; 
    border-radius: 20px;
    padding: 15px; 
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.date-box h2 {
    color: #fff;
    margin-bottom: 10px; 
}


.event-box {
    background-color: #c0cfc1;
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 10px; 
    max-width: 600px; 
    width: 100%; 
    box-sizing: border-box; 
}

