.trips-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 4rem;
    
}

.trip-item {
    margin-bottom: 20px;
}


/* Style for each trip box */
.trip-box {
    background-color: #9dbbae; /* Green background */
    border-radius: 15px; /* Rounded edges */
    padding: 20px; /* Padding inside the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for better visibility */
    width: 100%; /* Full width inside container */
    max-width: 600px; /* Maximum width of the trip box */
    margin: 0 auto; /* Center the trip box */
}

/* clickable link to trip */
.trip-link {
    text-decoration: none;
    color: #3e5a6c;
    font-weight: bold;
    font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}
.trip-link:hover{
    color: #506f83;
}
/* clickable link to trip */

.trip-details {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.my-trip-button-section{
    display: flex;
    justify-content: space-around; /* Distribute space dynamically */
    width: 100%; /* Ensure the container takes full width of the parent */
    margin-top: 2rem;
}

.no-trips-found{

    color: #1a1a1a;
}


/* Mobile-specific styles */
@media (max-width: 500px) {
    .trip-box {
        background-color: #9dbbae; /* Green background */
        border-radius: 15px; /* Rounded edges */
        padding: 20px; /* Padding inside the box */
        margin: 20px; /* White space around the box */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for better visibility */
        width: 90%; /* Width of the boxes */
        max-width: 600px; /* Maximum width of the boxes */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }

    .trips-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        margin-bottom: 4rem;
    }
}

@media (min-width: 767px) {
    .trips-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 3.5rem;
        margin-bottom: 4rem;
    }
    .my-trip-button-section{
        margin-top: 1rem;
        display: flex;
        justify-content: space-around; /* Distribute space dynamically */
        width: 100%; /* Ensure the container takes full width of the parent */
        margin-top: 2rem;
        
    }

}