.trips-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 4rem;
    
}

.trip-item {
    margin-bottom: 20px;
}


/* Style for each trip box */
.trip-box {
    background-color: #9dbbae; /* Green background */
    border-radius: 15px; /* Rounded edges */
    padding: 20px; /* Padding inside the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for better visibility */
    width: 100%; /* Full width inside container */
    max-width: 600px; /* Maximum width of the trip box */
    margin: 0 auto; /* Center the trip box */
}

.trip-link {
    text-decoration: none;
    color: #3e5a6c;
    font-weight: bold;
}
.trip-link:hover{
    color: #506f83;
}

.trip-details {
    margin-top: 10px;
}

.button-section{
    margin-bottom: 2rem;
}
.create-trip-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #6c93a9;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.25s;
}

.create-trip-button:hover {
    background-color: #6c93a9;
}

.no-trips-found{

    color: #1a1a1a;
}

.trip-actions{
    margin-top: 1rem;
   
}


/* Mobile-specific styles */
@media (max-width: 500px) {
    .trip-box {
        background-color: #9dbbae; /* Green background */
        border-radius: 15px; /* Rounded edges */
        padding: 20px; /* Padding inside the box */
        margin: 20px; /* White space around the box */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for better visibility */
        width: 80%; /* Width of the boxes */
        max-width: 600px; /* Maximum width of the boxes */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }

    .create-trip-button {
        padding: 0.5em 1em; /* Adjust padding for smaller screens */
    }
    .trips-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-left: 1.5rem;
        margin-bottom: 4rem;
    }
}

@media (min-width: 767px) {
    .trips-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 3.5rem;
        margin-bottom: 4rem;
    }
    .trip-actions{
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

}