/* editevent.css */

/* Style for the form container */
.section-container {
    background-color: #9dbbae; 
    border-radius: 15px; 
    padding: 20px; 
    width: 100%; 
    max-width: 600px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.edit-section-container {
    background-color: #9dbbae; 
    border-radius: 15px; 
    padding: 20px; 
    width: 100%; 
    max-width: 600px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding-right: 3rem;
    margin-bottom: 5rem;
}

/* Style for each form group */
.form-group {
    margin-bottom: 15px; /* Space between form fields */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


textarea {
    resize: vertical;
    height: 100px;
}

/* Style for the save button */
.save-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #6c93a9;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.25s;
}

.save-button:hover {
    background-color: #646cff;
}

.edit-trip-section-container {
    background-color: #9dbbae; /* Green background */
    border-radius: 15px; /* Rounded edges */
    padding: 20px; /* Padding inside the box */
    width: 100%; /* Full width inside container */
    max-width: 600px; /* Maximum width of the form box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for better visibility */
    margin-top: 4.5rem;
}

@media (max-width: 500px) {
    .section-container {
        padding: 15px; /* Adjust padding for smaller screens */
        width: 90%; /* Width of the boxes for smaller screens */
    }

    .save-button {
        padding: 0.5em 1em; /* Adjust padding for smaller screens */
    }
}

/* Mobile-specific styles for small window */
@media (max-width: 320px) {
    .section-container {
        padding: 15px; /* Adjust padding for smaller screens */
        margin: 30px; /* Adjust margin for smaller screens */
        width: 90%; /* Width of the boxes for smaller screens */
    }

    .save-button {
        padding: 0.5em 1em; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 767px) {
    .section-container {
        padding: 15px; /* Adjust padding for smaller screens */
        margin: 30px; /* Adjust margin for smaller screens */
        width: 90%; /* Width of the boxes for smaller screens */
    }
    
    .edit-trip-section-container {
        margin-top: 2rem; ;
    }

    .save-button {
        padding: 0.5em 1em; /* Adjust padding for smaller screens */
    }
}
