/* Default styles for navbar */
.navbar {
  background-color: #547258; 
  border-top-left-radius: 30px; 
  border-top-right-radius: 30px; 
  color: white; /* Text color */
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0; /* Fixed to the bottom of the viewport */
  display: flex;
  justify-content: center; /* Center the contents horizontally */
  align-items: center; /* Center the contents vertically */
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
  padding: 1rem; /* Add padding around the navbar content */
  left: 0; /* Ensure the navbar is aligned with the left edge of the viewport */
  right: 0; /* Ensure the navbar is aligned with the right edge of the viewport */
  margin: 0 auto; /* Center the navbar horizontally */
  transition: opacity 0.3s ease; /* Smooth transition for visibility change */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.357); 
}

/* Hide the navbar when logged out */
.navbar.hidden {
  display: none; /* Hide the navbar */
}

/* Ensure navbar items are centered and styled as buttons */
.navbar-container {
  display: flex;
  gap: 1rem; /* Space between buttons */
}

/* Inherit styles from index.css for buttons */
.navbar-item {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 500;
  font-family: inherit;
  background-color: #6c93a9;
  cursor: pointer;
  transition: border-color 0.25s;
  flex-grow: ;

  /* text-decoration: none;
  color: #ffffff;
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.2em;
  line-height: 1; */
}

/* Inherit styles from index.css for button hover and focus */
.navbar-item:hover {
  border-color: #415866;
}

.navbar-item:focus,
.navbar-item:focus-visible {
  outline: 6px auto -webkit-focus-ring-color;
}
