

/* Ensure all input fields are the same width */
.input {
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.control-button{
  margin-top: 1rem;
}

.welcome-info{
  font-size: large;
  font-family: "Fredericka the Great", serif;
  padding-bottom: .5rem;
  margin-top: -1rem;

  
}

/* Mobile-specific styles */
/* @media (max-width: 500px) {

  h3 {
    margin-top: auto;
  }
  
  .section-container-for-message{
    background-color: #9dbbae; 
    border-radius: 15px; 
    padding: 20px; 
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.357); 
    width: 80%; 
    max-width: 400px; 
    box-sizing: border-box; 
    font-weight: bold;
    margin-top: 2rem;
  }
  .section-container-for-messages{
    background-color: #9dbbae; 
    border-radius: 15px; 
    padding: 20px; 
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.357); 
    width: 80%; 
    max-width: 400px; 
    box-sizing: border-box; 
  }

} */
